/* SearchChatbot.css */

.containerBox1 {
    background-color: rgba(255, 225, 225, 0.3);
    padding: 2% 2%;
    margin-right: 30px;
}

.containerBox2 {
    background-color: rgba(255, 225, 225, 0.3);
    padding: 2% 2%;
}

.rowcontainer {
    display: flex;
    justify-content: center;
}

.titleheading {
    padding-top: 20px;
    padding-left: 20px;
}

.maincontainer {
    margin-bottom: 50px;
}

.chat-history {
    background-color: #f1f1f1;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.user-message {
    background-color: #d1f7c4;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: right;
}

.bot-message {
    background-color: #dfe4ea;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: left;
}

button:disabled {
    cursor: not-allowed;
}

button .spinner-border {
    margin-right: 5px;
}

.error-text{
    color: red;
    font-size: 12px;
    margin: 5px;
  }

  .sts1{
    margin: 3px;
    color: greenyellow;
}