.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    /* width: 100%;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0; */
}

.footer-description{
    font-size: 15px;
    font-weight: bold;
    
}