.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.footer-description{
    font-size: 15px;
    font-weight: bold;
}

.footer-description1{
    font-size: 15px;
    font-weight: bold;
}