.formContainer{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 70px;

}

.formtitle{
    font-weight: 800;
    padding-bottom: 15px;
}

.form{
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

