/* SemanticSearch.css */

.containerBox1 {
    background-color: rgba(255, 225, 225, 0.3);
    padding: 2% 2%;
    margin-right: 30px;
}

.containerBox2 {
    background-color: rgba(255, 225, 225, 0.3);
    padding: 2% 2%;
}

.rowcontainer {
    display: flex;
    justify-content: center;
}

.titleheading {
    padding-top: 20px;
    padding-left: 20px;
}

.summaryText {
    font-size: 0.9rem;
    line-height: 1.5;
    font-weight: bold;
}

button:disabled {
    cursor: not-allowed;
}

button .spinner-border {
    margin-right: 5px;
}

.sts1{
    font-weight: bold;
    color: rgb(74, 238, 41);
}